* {
    margin: 0;
    padding: 0;
}

.console {
    background-color:#000;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    position: relative;
}

.console__title-bar {
    background-color: #fff;
    border: 2px solid;
    padding: 0 0 0 20px;
    height: 20px;
}

.console__title-bar--title {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.console__title-bar__button {
    padding: 0;
    float: right;
}

.console__title-bar__button--min {
    display: inline-block;
    width: 20px;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.console__title-bar__button--min:hover{
    background-color: #DDDDDD ;
}

.console__title-bar__button--max {
    display: inline-block;
    width: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.console__title-bar__button--max1 {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0 0 4px;
    padding: 0;
    border: 1px solid;
}


.console__title-bar__button--max:hover{
    background-color: #DDDDDD ;
}

.console__title-bar__button--close {
    display: inline-block;
    width: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.console__title-bar__button--close:hover{
    background-color: #ff0202 ;
}

.console__content{
    margin: 0;
    padding: 0;
}

.console__content--machine-name {
    color: 	#86e716;
    display: inline-block;
}

.console__content--console-name{
    color: #bb02bb;
    display: inline-block;
}

.console__content--directory {
    color: #BFBF00;
    display: inline;
}

.console__content--comands {
    color: #fff;
}


